* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.playground {
  width: 100vw;
  height: 100vh;
  background-color: darkcyan;
  .ball {
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
  }
}
