* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.signUp{
    input{
        padding: .5em;
        font-size: 1.3rem;
    }
    input:placeholder{
        padding: .5em;
    }
}

button{
    padding: 1em;
}